<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.englishbible.punjabibible">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.englishbible.punjabibible.TamilSongsActivity" />
        <activity
            android:name="com.englishbible.punjabibible.EditNotesActivity"
            android:label="Update Notes" />
        <activity
            android:name="com.englishbible.punjabibible.AddNotesActivity"
            android:label="Add Notes" />
        <activity
            android:name="com.englishbible.punjabibible.NotesViewActivity"
            android:label="Notes" />
        <activity
            android:name="com.englishbible.punjabibible.NotesActivity"
            android:label="All Notes" />
        <activity android:name="com.englishbible.punjabibible.QuotesActivity" />
        <activity android:name="com.englishbible.punjabibible.TamilPraiseActivity" />
        <activity android:name="com.englishbible.punjabibible.SettingsActivity" />
        <activity android:name="com.englishbible.punjabibible.BookmarkActivity" />
        <activity
            android:name="com.englishbible.punjabibible.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.englishbible.punjabibible.PraisesActivity" />
        <activity android:name="com.englishbible.punjabibible.LyricsActivity" />
        <activity android:name="com.englishbible.punjabibible.SongsActivity" />
    </application>

</manifest>